h1 {
  letter-spacing: 3px;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  width: 20em;
  height: 15em;
  margin: 2px 2px;
  &:hover {
    
    transform: scale(1.1);
  }
}

.pokemon {
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 120em;
  height: 180px;
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    color: black;
  }
  .img-container {
    width: 150px;
    height: 120px;
    display: flex;
    position: relative;
    justify-content: center;
    
  }
  .name {
    margin: -45px 0 10px;
    letter-spacing: 1px;
  }
  .number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    left: -8em;
    top: -2em;
  }
  .info {
    margin-top: 20px;
  }
  .img-container img {
       max-width: 90%;
       z-index: 1;
       margin-left: 200px;
       margin-top: 12px;
  }
  .pokeball {
    display: flex;
    position: absolute;
    align-items: center;
    transform:rotate(20deg);
  }
}
.icon {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin: 10px;
  transition: 200ms all;
  img {
    height: 60%;
    width: 60%;
    margin: 20%;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;  
  height: 14vh;
}

.geneRegion {
   position: absolute;
    transform: translate(7px, 55px);
}
