.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ca4433;
  box-shadow: 0 4px 8px 0 rgb(202,68,51);
  nav {
    padding: 12px;
    text-align: center;
    .pokelogo {
      cursor: pointer;
      width:20vw;
      outline:none;
    }
  }
}
