<section
  *ngIf="pokemon$ | async as pokemon"  class="detail" >
  <!--Pokemon ID, Name und Type-->
  <header class="detail__content">
    <div class="detail__header">
      <span>#{{ pokemon.id }} </span>
      <strong class="title">{{ pokemon.name }}</strong>
    </div>
    <div class="detail__type">
      <p *ngFor="let type of pokemon.types"  [style.background]="getTypeColour(type?.type?.name)"> {{ type.type.name }}</p>
    </div>
    
  </header>
  <!--Pokemon Image -->
  <div class="detail__image">
    <img [src]="pokemon.image" [title]="pokemon.name" [alt]="pokemon.name" />
  </div>
  <!--Pokemon Info start-->
  <div class="detail__description">
    <h1 class="pokemonTitle">Pokemon Info</h1>
    <div class="detail__info">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Allgemeine Info">
          <ul class="pokemonInfo">
            <li> 
              <h2>Experience: </h2> 
              <p class="pokemonStatur">{{ pokemon.base_experience }}</p>
              </li>
            <li><h2>Gewicht: </h2> 
              <p class="pokemonStatur">{{ (pokemon.weight * 100) / 1000 }} kg</p>
              </li>
            <li> <h2>Grösse: </h2> 
              <p class="pokemonStatur">{{ pokemon.height * 10 }} cm </p>
             </li>
         
          </ul>
      </mat-tab>
      <mat-tab label="Statistic">
        <ul class="pokemonInfo" *ngFor="let stat of pokemon.stats">
          <li>
            <h2>
              {{ stat.stat.name }}:
            </h2>
            <p class="pokemonStatur">{{ stat.base_stat }}</p>
          </li>
        </ul>
      </mat-tab>
        <mat-tab label="Abilities">
          <p class="ability" *ngFor="let abilitie of pokemon.abilities">{{ abilitie.ability.name }}</p>
      </mat-tab>
      <mat-tab label="Region">
     <h3 class="region">{{ pokemon.generation }}</h3>
    </mat-tab>
      </mat-tab-group>
  </div>
   <!--Pokemon Info Ende   <h3 class="name">{{ pokemon.generation }}</h3>-->
  </div>
</section>

