<section
  *ngIf="pokemon$ | async as pokemon"  class="detail" >
  <!--Pokemon ID, Name und Type-->
  <header class="detail__content">
    <div class="detail__header">
      <span>#{{ pokemon.id }} </span>
      <strong class="title">{{ pokemon.name }}</strong>
    </div>
    <div class="detail__type">
      <p *ngFor="let type of pokemon.types"> {{ type.type.name }}</p>
    </div>
  </header>
  <!--Pokemon Image -->
  <div class="detail__image">
    <img [src]="pokemon.image" [title]="pokemon.name" [alt]="pokemon.name" />
  </div>
  <!--Pokemon Info start-->
  <div class="detail__description">
    <h1 class="pokemonTitle">Pokemon Info</h1>
    <div class="detail__info">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="First"><ul>
          <li>
            <h2>Experience: {{ pokemon.base_experience }} </h2> 
          </li>
          <li>
            <h2>Gewicht: {{ (pokemon.weight * 100) / 1000 }} kg </h2> 
          </li>
          <li>   
            <h2>Grösse: {{ pokemon.height * 10 }} cm </h2> 
            
          </li>
        </ul>
      </mat-tab>
        <mat-tab label="Second">
          <ul>
          <li class="ability" *ngFor="let stat of pokemon.stats">
            <h2>
              {{ stat.stat.name }}: {{ stat.base_stat }}
            </h2>
            
          </li>
          </ul>
        </mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
      </mat-tab-group>
      
    <ul>
      
      
      <li class="ability" *ngFor="let abilitie of pokemon.abilities">
        <h2> Abilities: {{ abilitie.ability.name }} </h2>
      
      </li>
    
    </ul>
  </div>
 
 
   <!--Pokemon Info Ende -->
  </div>
</section>

